# Overview of Functions

When writing algorithms that perform a repetitive task, like getting grade averages over and over again, it's a best practice to convert the algorithm to a function. A function is a smaller, more manageable piece of code.

Long algorithms can increase the chance of syntax errors and repeated variable assignments, which can lead to programming headachesâ€”especially if your code is more than 200 lines. Breaking your code into manageable pieces has many advantages. You can:

Debug and fix errors faster.
Make your code more readable.
Reuse code by importing functions into other algorithms.
Speed up programming development. Multiple team members can work on separate functions of a complex algorithm to speed up the development of the project.

In [1]:
# define the function 'say_hello' so it prints 'Hello!' when called.
def say_hello():
    print('Hello!')

In [2]:
# call the function.
say_hello()

Hello!

In [3]:
# define the function 'say_something' so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [7]:
# call the function.
say_something('Hello WOrld!')

Hello WOrld!

In [8]:
# call the function.
say_something(2 + 5)

7

In [10]:
# call the function.
Jane_says = "Hi, my name is Jane. I'm learning Python!" 
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

## The Pandas map() Function
The map() function is used for substituting each value in a Series with another value. Where the new value is generated from a function, a dictionary, or a Series. Let's look at an example of the map() function

In [11]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

Next, we'll import Pandas and convert the list to a Series.

In [12]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

Using the map() function we are going to change B to A, C to B, and D to C. To change each string value in this Series to another value using the following format.

map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)

In [15]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

## The Python format() Function

The Python format() function is used to format a value to a specific format, such as one or two decimal places, or adding a thousands separator. This function follows this syntax: 

"{value:format specification}".format(value)

Let's look at an example of the format() function.

In [16]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

## Chaining the map() and format() Functions

We also apply the format() function to a Series or column in a DataFrame by chaining the map() and format() functions.

First let's convert the numerical grades array to a Series with the following code:

In [17]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

Next, we can format the numerical grades to the nearest whole number percent as shown in the output after running the following line of code:

In [18]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [19]:
# Practice
names_of_ppl = ['abubakar', 'musa', 'dan daodo', 'aisha', 'amina', 'gabriel']

# First step: convert the names of ppl to series
import pandas as pd
names_of_ppl_series = pd.Series(names_of_ppl) 
names_of_ppl_series

0     abubakar
1         musa
2    dan daodo
3        aisha
4        amina
5      gabriel
dtype: object

In [21]:
names_of_ppl_series.map({'abubakar': 'isaac', 'musa': 'joseph', 'aisha':'alisha', 'amina':'zainab', 'gabriel':'henna'})

0     isaac
1    joseph
2       NaN
3    alisha
4    zainab
5     henna
dtype: object

## Reorder Columns